/* image 1 */

position: absolute;
width: 1392px;
height: 450px;
left: 24px;
top: 88px;

background: url(image.png);
border-radius: 16px;

Get found andgrow your business.
/* Get found andgrow your business. */

position: absolute;
width: 806px;
height: 188px;
left: 141px;
top: 586px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 94px;

color: #000000;





.logo{
position: relative;
width: 1440px;
height: 2783px;

background: #FFFFFF;
}


/* Rectangle 6 */

position: absolute;
width: 1040px;
height: 381px;
left: 200px;
top: 2132px;

background: url(image.png);
opacity: 0.1;
border-radius: 16px;


/* Bohni logo */

position: absolute;
width: 57px;
height: 14px;
left: 24px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */

color: #000000;



/* Contact us */

position: absolute;
width: 77px;
height: 19px;
left: 1254px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* Sign up */

position: absolute;
width: 53px;
height: 19px;
left: 1363px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* Why join us */

position: absolute;
width: 82px;
height: 19px;
left: 1015px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* How it works */

position: absolute;
width: 93px;
height: 19px;
left: 1129px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* Group 3 */

position: absolute;
width: 401px;
height: 19px;
left: 520px;
top: 2629px;



/* Contact us */

position: absolute;
width: 77px;
height: 19px;
left: 759px;
top: 2629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* Sign up */

position: absolute;
width: 53px;
height: 19px;
left: 868px;
top: 2629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* Why join us */

position: absolute;
width: 82px;
height: 19px;
left: 520px;
top: 2629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* How it works */

position: absolute;
width: 93px;
height: 19px;
left: 634px;
top: 2629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* Bohni, 2021 */

position: absolute;
width: 84px;
height: 19px;
left: 678px;
top: 2684px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* image 1 */

position: absolute;
width: 1392px;
height: 450px;
left: 24px;
top: 88px;

background: url(image.png);
border-radius: 16px;


/* Get found andgrow your business. */

position: absolute;
width: 806px;
height: 188px;
left: 141px;
top: 586px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 94px;

color: #000000;



/* Why join us? */

position: absolute;
width: 238px;
height: 49px;
left: 141px;
top: 935px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;



/* How the Bohni app works */

position: absolute;
width: 480px;
height: 49px;
left: 141px;
top: 1483px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;



/* There are 63 million micro enterprises that cater to hyperlocal demands operating at very low overhead costs as family enterprises. That equals over 90% of India employed in the informal sector. */

position: absolute;
width: 512px;
height: 57px;
left: 141px;
top: 798px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Small business owners suffer from low productivity and lack access to market and credit. */

position: absolute;
width: 512px;
height: 38px;
left: 141px;
top: 1000px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Small businesses can reach a larger and more consistent customer base with the help of the Bohni app and hyperlocal marketing channels. Building recognition as a small business gives them access to government loans like Svanidhi loans. */

position: absolute;
width: 512px;
height: 76px;
left: 141px;
top: 1197px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Micro enterprises. */

position: absolute;
width: 129px;
height: 19px;
left: 141px;
top: 1116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Indian workforce is employed in the informal sector. */

position: absolute;
width: 139px;
height: 57px;
left: 298px;
top: 1116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Street vendors in cities alone. */

position: absolute;
width: 139px;
height: 38px;
left: 469px;
top: 1116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* 6.3Cr */

position: absolute;
width: 104px;
height: 49px;
left: 141px;
top: 1062px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;



/* 90% */

position: absolute;
width: 80px;
height: 49px;
left: 298px;
top: 1062px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;



/* 1Cr */

position: absolute;
width: 67px;
height: 49px;
left: 469px;
top: 1062px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;



/* Businesses can get found by local communities by managing their digital shop on the Bohni app. */

position: absolute;
width: 963px;
height: 19px;
left: 141px;
top: 1548px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* image 2 */

position: absolute;
width: 688px;
height: 500px;
left: 728px;
top: 935px;

background: url(image.png);
border-radius: 16px;


/* Rectangle 1 */

position: absolute;
width: 103px;
height: 51px;
left: 141px;
top: 1289px;

background: #000000;
border-radius: 4px;


/* Sign up */

position: absolute;
width: 55px;
height: 19px;
left: 165px;
top: 1305px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Grow your business with the Bohni app */

position: absolute;
width: 733px;
height: 49px;
left: 354px;
top: 2247px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;
text-align: center;

color: #000000;



/* Sign up today and get free marketing grant on the Bino app today. */

position: absolute;
width: 464px;
height: 19px;
left: 487px;
top: 2312px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;



/* Group 2 */

position: absolute;
width: 103px;
height: 51px;
left: 669px;
top: 2347px;



/* Rectangle 5 */

position: absolute;
width: 103px;
height: 51px;
left: 669px;
top: 2347px;

background: #000000;
border-radius: 4px;


/* Sign up */

position: absolute;
width: 55px;
height: 19px;
left: 693px;
top: 2363px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;



/* Rectangle 2 */

position: absolute;
width: 336px;
height: 385px;
left: 141px;
top: 1591px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;


/* Rectangle 3 */

position: absolute;
width: 336px;
height: 385px;
left: 493px;
top: 1591px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;


/* Rectangle 4 */

position: absolute;
width: 336px;
height: 385px;
left: 845px;
top: 1591px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;


/* Sign up screen */

position: absolute;
width: 105px;
height: 19px;
left: 256px;
top: 1774px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Download and Sign up on the Bohni app */

position: absolute;
width: 285px;
height: 19px;
left: 141px;
top: 2000px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Next, create a digital catalogue */

position: absolute;
width: 224px;
height: 19px;
left: 493px;
top: 2000px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* And, you’re ready to sell! */

position: absolute;
width: 177px;
height: 19px;
left: 845px;
top: 2000px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* See how your business will appear to your customers and let them know to place orders through the Bino app. */

position: absolute;
width: 336px;
height: 57px;
left: 845px;
top: 2027px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Add items you want to sell, you can manage their inventory too. */

position: absolute;
width: 336px;
height: 38px;
left: 493px;
top: 2027px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Use your mobile number to sign up and tell us your shop’s name and location. */

position: absolute;
width: 336px;
height: 38px;
left: 141px;
top: 2027px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Catalogue screen */

position: absolute;
width: 125px;
height: 19px;
left: 599px;
top: 1774px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Shop details on Bino */

position: absolute;
width: 146px;
height: 19px;
left: 940px;
top: 1774px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Line 1 */

position: absolute;
width: 570px;
height: 0px;
left: 435px;
top: 2593px;

border: 1px solid #000000;


/* Rectangle 7 */

position: absolute;
width: 335px;
height: 301px;
left: 963px;
top: 586px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;


/* Rectangle 8 */

position: absolute;
width: 335px;
height: 156px;
left: 963px;
top: 586px;

background: #000000;
border-radius: 16px 16px 0px 0px;


/* image 3 */

position: absolute;
width: 169px;
height: 113px;
left: 1046px;
top: 758px;

background: url(image.png);


/* Reach your potential customers by downloading the Bohni app. */

position: absolute;
width: 287px;
height: 38px;
left: 987px;
top: 622px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Sign up and upload your shop items in a few easy steps. */

position: absolute;
width: 287px;
height: 38px;
left: 987px;
top: 668px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


    
/* image 2 */

position: absolute;
width: 688px;
height: 500px;
left: 728px;
top: 935px;

background: url(image.png);
border-radius: 16px;
