.logo{
    position: relative;
    width: 1440px;
    height: 2783px;
    
    background: #FFFFFF;
    }
    /* Why join us */
.menu{
position: absolute;
width: 82px;
height: 19px;
left: 900px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;
}
/* How it works */
.how-it-works{
    position: absolute;
    width: 93px;
    height: 19px;
    left: 1009px;
    top: 34px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    color: #000000;
    }

/* Contact us */
.contact-us{
position: absolute;
width: 77px;
height: 19px;
left: 1114px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;
}
/* Sign up */
.sign-up{
    position: absolute;
    width: 53px;
    height: 19px;
    left: 1213px;
    top: 34px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    
    color: #000000;
    }
    .image1{
    position: absolute;
width: 1392px;
height: 450px;
left: 24px;
top: 88px;

background: url(image1.jpeg);
border-radius: 16px;
    }
    /* Get found and grow your business. */
.text1{
position: absolute;
width: 806px;
height: 188px;
left: 141px;
top: 586px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 94px;

color: #000000;
}
/* Rectangle 7 */
.get-app{
position: absolute;
width: 335px;
height: 301px;
left: 963px;
top: 586px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;
}
/* Rectangle 8 */
.rect-8{
position: absolute;
width: 335px;
height: 156px;
left: 963px;
top: 586px;

background: #000000;
border-radius: 16px 16px 0px 0px;
}
/* Reach your potential customers by downloading the Bohni app. */
.p1{
position: absolute;
width: 287px;
height: 38px;
left: 987px;
top: 622px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #ffffff;
}
/* Sign up and upload your shop items in a few easy steps. */
.p2{
position: absolute;
width: 287px;
height: 38px;
left: 987px;
top: 668px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}
/* image 3 */
.img3{
position: absolute;
width: 169px;
height: 113px;
left: 1046px;
top: 758px;
background: url(image3.jpeg);
}
.p3{
    position: absolute;
width: 512px;
height: 57px;
left: 141px;
top: 798px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.head2{
    position: absolute;
width: 238px;
height: 49px;
left: 141px;
top: 935px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 49px;

color: #000000;
}
.p4{
    position: absolute;
width: 512px;
height: 38px;
left: 141px;
top: 1000px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;

}
 .p5{
    position: absolute;
width: 512px;
height: 76px;
left: 141px;
top: 1197px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;

} 
.s1{
    position: absolute;
    height: 49px;
    width: 104px;
left: 141px;
    top: 1062px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    
    color: #000000;
}

.s2{
    position: absolute;
width: 80px;
height: 49px;
left: 298px;
top: 1062px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;

}
.s3{
    position: absolute;
width: 67px;
height: 49px;
left: 469px;
top: 1062px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;

}
.s4{
    position: absolute;
width: 129px;
height: 19px;
left: 141px;
top: 1116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
}
.s5{
    position: absolute;
width: 139px;
height: 57px;
left: 298px;
top: 1116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;

}
.s6{
    position: absolute;
width: 139px;
height: 38px;
left: 469px;
top: 1116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;

}
/* Rectangle 1 */
.rect1{
position: absolute;
width: 103px;
height: 51px;
left: 141px;
top: 1289px;

background: #000000;
border-radius: 4px;
}

/* Sign up */
.signup{
position: absolute;
width: 55px;
height: 19px;
left: 165px;
top: 1305px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
.img2{
    position: absolute;
width: 688px;
height: 500px;
left: 728px;
top: 935px;
background: url(image2.jpeg);
border-radius: 16px;
}
.head3{
    position: absolute;
width: 480px;
height: 49px;
left: 141px;
top: 1483px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;

color: #000000;
}
.s7{
position: absolute;
width: 963px;
height: 19px;
left: 141px;
top: 1548px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #000000;
}
.rect2{
position: absolute;
width: 336px;
height: 385px;
left: 141px;
top: 1591px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;
}
.s8{
position: absolute;
width: 105px;
height: 19px;
left: 256px;
top: 1774px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;
}
.rect3{
    position: absolute;
width: 336px;
height: 385px;
left: 493px;
top: 1591px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;

}
.s9{
    position: absolute;
width: 125px;
height: 19px;
left: 599px;
top: 1774px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: hsl(0, 0%, 0%);
}
.rect4{
    position: absolute;
width: 336px;
height: 385px;
left: 845px;
top: 1591px;

background: #FFFFFF;
border: 1px solid #767676;
box-sizing: border-box;
border-radius: 16px;


}
.s10{
    position: absolute;
width: 146px;
height: 19px;
left: 940px;
top: 1774px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;
}
.head5{
    position: absolute;
    width: 285px;
    height: 19px;
    left: 141px;
    top: 2000px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    color: #000000;
}
.s11{
    position: absolute;
width: 336px;
height: 38px;
left: 141px;
top: 2027px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.head6{
    position: absolute;
    width: 224px;
    height: 19px;
    left: 493px;
    top: 2000px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    color: #000000;
    
}
.s12{
    position: absolute;
    width: 336px;
    height: 38px;
    left: 493px;
    top: 2027px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #000000;
}
.head7{
    position: absolute;
width: 177px;
height: 19px;
left: 845px;
top: 2000px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;
}
.s13{
    position: absolute;
width: 336px;
height: 57px;
left: 845px;
top: 2027px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.img6{
    position: absolute;
    width: 1040px;
    height: 381px;
    left: 200px;
    top: 2132px;
    
    background: url(Rectangle6.jpeg);
    opacity: 0.9;
    border-radius: 16px;
    
}
.head8{
    position: absolute;
width: 733px;
height: 49px;
left: 354px;
top: 2247px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 49px;
text-align: center;
color: #000000;
}
.s15{
position: absolute;
width: 464px;
height: 19px;
left: 487px;
top: 2312px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
color: #000000;
}
.signup3{
    /* Rectangle 5 */

position: absolute;
width: 103px;
height: 51px;
left: 669px;
top: 2347px;

background: #000000;
border-radius: 4px;
color: #ffffff;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
line-height: 39px;
color: #FFFFFF;
}
.line{

position: absolute;
width: 570px;
height: 0px;
left: 435px;
top: 2593px;

border: 1px solid #000000;
}
/* Why join us */

position: absolute;
width: 82px;
height: 19px;
left: 520px;
top: 2629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* How it works */

position: absolute;
width: 93px;
height: 19px;
left: 634px;
top: 2629px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;



/* Boni, 2021 */

position: absolute;
width: 84px;
height: 19px;
left: 678px;
top: 2684px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: right;

color: #000000;